extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/cars") Take me to cars
    br
    a(href="/logout") Logout

  script.
    console.log("running on http://localhost:3000/")

  script.
    var value = 0;
    var power = 1;

    function double() {
        value += 1;
        power *= 2;
        document.getElementById('double').textContent = `Two to the power ${value} is ${power}`;
    }
