body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carsAttr {
  background-color: aquamarine;
  width: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
  border: blue solid 2px;
  margin-right: 10px;
}
  #cars_make{
    background-color: #e3e3f6;
  }
  #cars_model{
    background-color: #e3e3f6;
  }
  #cars_year{
    background-color: #e3e3f6;
  }
.myclass{
  background-color: beige;
  width: fit-content;
  border: red solid 1px;
}